
<div class="content">
    <p-card [style]="{width: '450px'}" styleClass="shadow-2 m-0">
  
      <ng-template pTemplate="header">
        <img alt="Card" src="../../../assets/images/vidaSalud-logo.png">
      </ng-template>
  
      <form [formGroup]="form" (ngSubmit)="restablecerPassword()">

        <div *ngIf="passwordRestablecidoMsj">
          <small class="block mb-2 shadow-3 p-2 bg-green-200">
            Tu password se ha restablecido correctamente.
          </small>
          <a href="/login">Volver al login</a>
        </div>

        <small *ngIf="errorMsj" class="block mb-2 shadow-3 p-2">
          Algo ha salido mal. Visita esta <a href="/recuperar-cuenta">página</a> para restablecer tu password.
        </small>

        <div class="field">
          <label for="">Password</label>
          <p-password type="password" [toggleMask]="true" [feedback]="false" styleClass="w-full"
                  [ngClass]="{'ng-invalid': campoNoValido('password')}" formControlName="password" 
                  required inputStyleClass="w-full"></p-password>
          <small *ngIf="campoNoValido('password')" class="p-error block">El password debe ser mayor a 7 caracteres.</small>
        </div>
        <div class="field">
            <label for="">Confirmar</label>
            <p-password type="password" [toggleMask]="true" [feedback]="false" styleClass="w-full"
                    [ngClass]="{'ng-invalid': campoNoValido('passwordConfirmado')}" formControlName="passwordConfirmado"
                    required inputStyleClass="w-full"></p-password>
            <small *ngIf="campoNoValido('passwordConfirmado')" class="p-error block">Los password no coinciden. Inténtalo de nuevo.</small>
        </div>
  
        <button class="w-full" type="submit" pButton label="Restablecer password"></button>
  
      </form>
      
    </p-card>
  </div>  