
<app-usuario-bloqueado
[modalVisibleInput]="modalBloqueoVisible"
(modalVisibleOutput)="ocultarModalBloqueo($event)"></app-usuario-bloqueado>

<div class="content">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <p-card header="Iniciar Sesion" 
            subheader="vida salud" 
            [style]="{width: '370px', marginTop:'50px'}" 
            styleClass="p-card-shadow">

      <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png">
      </ng-template>

      <p-messages [(value)]="msjError" [enableService]="false"></p-messages>

      <div class="field">
        <label>Usuario</label>
        <input type="text" id="userName" pInputText [style]="{ width: '100%' }" 
              [ngClass]="{'ng-invalid ng-dirty': campoNoValido('userName')}" formControlName="userName" required>
        <small *ngIf="campoNoValido('userName')" class="p-error block">El usuario es obligatorio.</small>
      </div>
      <div class="field">
        <label>Password</label>
        <p-password type="password" [toggleMask]="true" [feedback]="false" styleClass="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': campoNoValido('password')}" formControlName="password" 
                    required inputStyleClass="w-full"></p-password>
        <small *ngIf="campoNoValido('password')" class="p-error block">El password es obligatorio.</small>
      </div>

      <div class="flex justify-content-between">
        <button type="submit" pButton label="Iniciar Sesion"></button>
        <p-button routerLink="/registro" label="Registrarse" styleClass="p-button-link"></p-button>
      </div>
      
    </p-card>

  </form>
</div>

  