<div class="content">
   <h1>Login Usuario</h1>

   <a routerLink="/registro">Registrarse</a>
   <br><br>

   <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="field">
         <label for="userName">Usuario</label>
         <input type="text" id="userName" pInputText [style]="{ width: '100%' }"  formControlName="userName" required>
         <span *ngIf="campoNoValido('userName')">el Usuario es obligatorio.</span>
      </div>
      <div class="field">
         <label for="">Password</label>
         <input type="text" pInputText [style]="{ width: '100%' }" formControlName="password" required>
         <span *ngIf="campoNoValido('password')">el Password es obligatorio.</span>
      </div>
      <button pButton type="submit" label="Login"></button>
   </form>
</div>