.content {
   display: flex;
   justify-content: center;
   margin-top: 10vh;
   flex-direction: column;
   align-items: center;
}

/* style p-message */
.p-messages .p-message-wrapper .p-message-icon{
   display: none;
}
.p-messages .p-message-wrapper {
   padding: 5px;
}