<div class="content">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <p-card header="Iniciar Sesion" 
            subheader="vida salud" 
            [style]="{width: '370px', marginTop:'50px'}" 
            styleClass="p-card-shadow">

      <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png">
      </ng-template>

      <!-- <ng-template pTemplate="content">
        <a href="">asdasd</a>
      </ng-template> -->

      <div class="field">
        <label>Usuario</label>
        <input type="text" id="userName" class="p-inputtext-sm" pInputText [style]="{ width: '100%' }" formControlName="userName" required>
        <span *ngIf="campoNoValido('userName')">el Usuario es obligatorio.</span>
      </div>
      <div class="field">
        <label>Password</label>
        <p-password type="password" class="p-inputtext-sm" [toggleMask]="true" [feedback]="false" styleClass="w-full"
                    formControlName="password" required inputStyleClass="w-full"></p-password>
        <!-- <input type="password" pPassword class="p-inputtext-sm" [style]="{ width: '100%' }" 
              [toggleMask]="true" formControlName="password" required> -->
        <span *ngIf="campoNoValido('password')">el Password es obligatorio.</span>
      </div>

      <div class="flex justify-content-between">
        <button pButton label="Iniciar Sesion"></button>
        <p-button routerLink="/registro" label="Registrarse" styleClass="p-button-link"></p-button>
      </div>
      
    </p-card>

  </form>
</div>

  