
<p-dialog header="Cambiar Password" [(visible)]="modalVisible" [modal]="true" [style]="{width: '500px'}"
    [draggable]="false" [resizable]="false" [closable]="false"
    [contentStyle]="{paddingBottom:'7px', paddingTop:'5px'}">

    <div *ngIf="exitoMsj">
        <p-messages severity="success" class="block mb-3">
            <ng-template pTemplate>
                <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" width="30" />
                <div class="ml-2 font-semibold text-sm">Felicidades tu password se ha actualizado.</div>
            </ng-template>
        </p-messages>
        <button class="w-full mb-2" (click)="cancelarModal()" pButton label="Hecho"></button>
    </div>

    <p-messages severity="error" class="block mb-2" *ngIf="errorMsj">
        <ng-template pTemplate>
            <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" width="30" />
            <div class="ml-2 font-semibold text-sm">El password es incorrecto. Inténtalo de nuevo.</div>
        </ng-template>
    </p-messages>

    <form autocomplete="off" [formGroup]="formEditarPassword" (ngSubmit)="editarPassword($event)" *ngIf="!exitoMsj">
        <!-- formulario principal -->
        <div class="card">
            <div class="grid">
                <div class="col">
                    <div class="formgrid">

                        <div class="field">
                            <label>Actual Password</label>
                            <p-password type="password" [toggleMask]="true" [feedback]="false" formControlName="actualPassword"
                                    [ngClass]="{'ng-invalid ng-dirty': campoEsValido('actualPassword')}" styleClass="w-full"
                                    required inputStyleClass="w-full"></p-password>
                            <small *ngIf="campoEsValido('actualPassword')" class="p-error block">El password debe tener al menos 7 caracteres.</small>
                        </div>

                        <p-divider></p-divider>

                        <div class="field">
                            <label>Nuevo Password</label>
                            <p-password type="password" [toggleMask]="true" [feedback]="false" formControlName="nuevoPassword"
                                    [ngClass]="{'ng-invalid ng-dirty': campoEsValido('password')}" styleClass="w-full"
                                    required inputStyleClass="w-full"></p-password>
                            <small *ngIf="campoEsValido('nuevoPassword')" class="p-error block">El password debe tener al menos 7 caracteres.</small>
                        </div>

                        <div class="field">
                            <label>Confirmar Password</label>
                            <p-password type="password" [toggleMask]="true" [feedback]="false" formControlName="confirmarPassword"
                                    [ngClass]="{'ng-invalid ng-dirty': campoEsValido('password')}" styleClass="w-full"
                                    required inputStyleClass="w-full"></p-password>
                            <small *ngIf="campoEsValido('confirmarPassword')" class="p-error block">Los password no coinciden. Inténtalo de nuevo.</small>
                        </div>
                    </div>
                    <!-- {{ formEditarPassword.value | json}} -->
                    <div class="card">
                        <div class="flex justify-content-end align-items-center">
                            <button type="button" pButton pRipple label="Cancelar" icon="pi pi-times"
                                class="p-button-text" (click)="cancelarModal()"></button>
                            <button pButton type="submit" pRipple label="Guardar" icon="pi pi-check"
                                class="p-button-text ml-2"></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</p-dialog>