.content {
   display: flex;
   margin: 82px auto 32px;
   padding: 0 16px;
   max-width: 960px;
   flex-direction: column;
   align-items: center;
}
.p-inputtext.ng-dirty.ng-invalid{
   border-color: none;
}
/* .invalidInput {
   border-color: darkblue;
   border: 2px solid;
} */