<div class="content">
   <form [formGroup]="registroForm" (ngSubmit)="crearUsuarioNormal()">
      <p-card [style]="{width: '450px'}" styleClass="m-0">

         <ng-template pTemplate="header">
            <img alt="Card" src="../../../assets/images/vidaSalud-logo.png">
         </ng-template>

         <div class="text-center mb-2">
            <p class="titulo">Registro</p>
            <p class="subtitulo">Crea una nueva cuenta</p>
         </div>

         <div class="field">
            <label for="">Usuario</label>
            <span class="p-input-icon-right block">
               <i class="pi pi-spin pi-spinner" *ngIf="registroForm.controls['userName'].pending"></i>
               <input type="text" pInputText [style]="{ width: '100%' }" formControlName="userName" required
                  [ngClass]="{'ng-invalid': campoNoValido('userName')}">
            </span>
            <small *ngIf="campoNoValido('userName')" class="p-error block">{{ userNameMsjError }}</small>
         </div>
         <div class="field">
            <label for="">Email</label>
            <span class="p-input-icon-right block">
               <i class="pi pi-spin pi-spinner" *ngIf="registroForm.controls['email'].pending"></i>
               <input type="text" pInputText [style]="{ width: '100%' }" formControlName="email" required
                  [ngClass]="{'ng-invalid': campoNoValido('email')}">
            </span>
            <small *ngIf="campoNoValido('email')" class="p-error block">{{ emailMsjError }}</small>
         </div>
         <div class="field">
            <label for="">Password</label>
            <p-password type="password" [toggleMask]="true" [feedback]="false" styleClass="w-full"
                    [ngClass]="{'ng-invalid': campoNoValido('password')}" formControlName="password" 
                    required inputStyleClass="w-full"></p-password>
            <small *ngIf="campoNoValido('password')" class="p-error block">El password debe ser mayor a 7 caracteres.</small>
         </div>
         <div class="field">
            <label for="">Confirmar</label>
            <p-password type="password" [toggleMask]="true" [feedback]="false" styleClass="w-full"
                    [ngClass]="{'ng-invalid': campoNoValido('password2')}" formControlName="password2" 
                    required inputStyleClass="w-full"></p-password>
            <small *ngIf="campoNoValido('password2')" class="p-error block">Los password no coinciden. Inténtalo de nuevo.</small>
         </div>

         <div class="flex justify-content-between">
            <p-button routerLink="/login" label="Iniciar Sesión" styleClass="p-button-link"></p-button>
            <button type="submit" [disabled]="registroForm.pending" pButton label="Registrarme"></button>
         </div>
      </p-card>
   </form>
</div>