html, body{
   margin: 0;
}

/* START PRIMENG TABLE OPCIONES POR PAGINA */
/* .p-dropdown-label.p-inputtext{
   display: flex;
   align-items: center;
} */
/* END PRIMENG TABLE OPCIONES POR PAGINA */

/* START PRIMENG CARD */
.p-card .p-card-content {
   padding: 0;
}
/* END PRIMENG CARD */