.topbar {
   background-color: #E8EDEA;
   height: 50px;
   display: flex;
   align-items: center;
   width: 100%;
}

.myStyle.p-menubar {
   /* background: #E8EDEA; */
   border-radius: 0;
   height: 50px;
   flex-direction: row-reverse;
   /* padding: 0 40px; */
}

/* item dropdown */
.p-submenu-list {
   /* float: left; */
   float: right;
}

/* START PRIMENG INICIAR SESION DROPDOWN / CERRAR SESION */
.alinear-derecha .p-submenu-list {
   /* alinear el dropdown a la izquierda */
   left: auto;
   right: 0;
}
.estilo-dropdown.p-menuitem  .p-menuitem-link {
   padding: 12px !important;
}
.estilo-dropdown.p-menuitem .p-menuitem-link .p-menuitem-icon {
   /* border-radius: 50%; */
   font-weight: bold;
   margin-right: 0 !important;
}
.estilo-dropdown.p-menuitem .p-menuitem-link .p-menuitem-icon::before{
   /* color: aqua !important; */
   /* background-color: red; */
   /* padding: 5px; */
}
.estilo-dropdown.p-menuitem .p-menuitem-link .p-submenu-icon {
   display: none;
}
/* END PRIMENG INICIAR SESION DROPDOWN / CERRAR SESION */
