<p-dialog header="Registrar Usuario" 
          [(visible)]="mostrarModal" [modal]="true" [style]="{width: '450px'}"
          [draggable]="false" [closeOnEscape]="false" [resizable]="false" [closable]="false"
          [contentStyle]="{paddingBottom:'7px', paddingTop:'5px'}">
  <!-- (onHide)="ocultarModal()"> -->
  <!-- onHide ocultar modal con la X del header -->
  <form autocomplete="off" [formGroup]="formRegistroAutorizado" (ngSubmit)="registrarUsuario($event)">
    <!-- formulario principal -->
    <div class="card">
      <div class="grid">
        <div class="col">
          <div class="formgrid">
            <div class="field">
              <label>Usuario</label>
              <input type="text" formControlName="userName" pInputText [style]="{ width: '100%' }"
                      [ngClass]="{'ng-invalid ng-dirty': campoEsValido('userName')}"/>
              <small *ngIf="campoEsValido('userName')" class="p-error block">El usuario es obligatorio.</small>
            </div>
            <div class="field">
              <label>Email</label>
              <input type="text" formControlName="email" pInputText [style]="{ width: '100%' }"
                      [ngClass]="{'ng-invalid ng-dirty': campoEsValido('email')}"/>
              <small *ngIf="campoEsValido('email')" class="p-error block">El email es obligatorio.</small>
            </div>

            <div class="field">
              <label for="inventoryStatus">Rol</label>
              <app-select-rol
                [rolInput]="formRegistroAutorizado.get('rolId')?.value"
                (rolOutput)="recibirRol($event)"
                [clase]="formRegistroAutorizado.get('rolId')?.valid">
              </app-select-rol>
              <small *ngIf="campoEsValido('rolId')" class="p-error block">El rol es obligatorio.</small>
            </div>

            <div class="field">
              <label>Password</label>
              <input type="text" formControlName="password" pInputText [style]="{ width: '100%' }"
                [ngClass]="{'ng-invalid ng-dirty': campoEsValido('password')}"/>
              <small *ngIf="campoEsValido('password')" class="p-error block">El password es obligatorio.</small>
            </div>
            <div class="field">
              <label>Confirmar Password</label>
              <input type="text" formControlName="password2" pInputText [style]="{ width: '100%' }" />
            </div>

          </div>
          <!-- {{ formRegistroAutorizado.value | json}} -->
          <div class="card">
            <div class="flex justify-content-end align-items-center">
              <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
                (click)="ocultarModal($event)"></button>
              <button pButton type="submit" pRipple label="Guardar" icon="pi pi-check" class="p-button-text ml-2"></button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>
</p-dialog>